<div class="container">
  <div class="d-flex margin-top">
    <h1>チーム情報編集</h1>
  </div>
  <% if @team.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= @team.errors.count %>件のエラーがあります。</h4>
      <ul>
        <% @team.errors.full_messages.each do|msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4">
    <%= form_with(model: @team, local: true) do |f| %>
    <div class="form-group profile">
      <div class="box-name">
        <span class="must">必須</span>
        <%= f.label :name, "チーム名" %><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="box-remark">
        <span class="free">任意</span>
        <%= f.label :remark, "備考" %><br/>
        <%= f.text_area :remark, autofocus: true, autocomplete: "remark", id: :textarea %>
      </div>
      <div class="image-field text-center">
        <div class="mb-1">
          <span class="free">任意</span>
          <span>チーム画像</span>
        </div>
        <% if @team.icon.present? %>
          <%= image_tag @team.icon.url, id: :img_prev, class: 'rectangle-img' %>
        <% else %>
          <%= image_tag "default.png", id: :img_prev %>
        <% end %>
        <%= f.file_field :icon, id: :team_img %>
      </div>
    </div>
    <%= f.submit '編集', value:'編集', class: 'btn btn-primary mr-3', id: 'user_edit_submit' %>
    <%= f.submit '戻る', class:"btn btn-secondary", name: 'back' %>
   <% end %>
 </div>
</div>
