<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0 bg-dark sidebar-height">
      <div class="side-title d-flex align-items-center pl-2">
        <ul class="navbar-nav side-menu">
          <% if current_user == @team.owner %>
            <span class="border-bottom mb-2">チーム名<i class="fab fa-font-awesome-flag"></i>
            </span>
            <% elsif current_user.assign_teams.ids.include?(@team.id) %>
              <span class="border-bottom mb-2">チーム名<i class="fas fa-users"></i>
              </span>
            <% else %>
              <span class="border-bottom mb-2">チーム名</span>
            <% end %>
            <h5 class="mb-1"><%= @team.name %></h5>
          </ul>
        </div>
        <div class="side-nav" id="nav-bar">
          <nav id="n">
            <ul class="navbar-nav">
              <li class="border-top">
                <a href="" class="js-modal-open mt-1 pl-4" data-target="modal0">・チームプロフィール</a>
                <div id="modal0" class="modal js-modal">
                  <div class="modal-bg js-modal-close"></div>
                  <div class="modal-content">
                    <%= render 'team_profile', team: @team %>
                    <a href="#" class="js-modal-close">閉じる</a>
                  </div>
                </div>
              </li>

              <div class="pl-4 report-index">
                報告書一覧</div>
              <ol class="navbar-nav report-item">
                <li class="">
                  <a href="" class="js-modal-open mt-1 pl-5" data-target="modal01">・〆切間近</a>
                  <div id="modal01" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'team_show_expired', expired_reports: @expired_reports %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
                <li class="">
                  <a href="" class="js-modal-open mt-1 pl-5" data-target="modal02">・作成中</a>
                  <div id="modal02" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'team_show_prepared', team: @team %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
                <li class="">
                  <a href="" class="js-modal-open mt-1 pl-5" data-target="modal03">・依頼中</a>
                  <div id="modal03" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'team_show_request', team: @team %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
                <li class="">
                  <a href="" class="js-modal-open mt-1 pl-5" data-target="modal04">・完了</a>
                  <div id="modal04" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'team_show_done', team: @team %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
                <div class="side-nav border-top" id="nav-bar">
                  <nav id="n">
                    <ul class="navbar-nav">
                      <li class="">
                        <%= link_to '・カレンダー', calendar_team_path(@team), id: "show-calendar-submit", class:"pl-4" %>
                      </li>
                      <li class="">
                        <%= link_to '・報告書作成', new_team_report_path(@team), id: "new_report-submit", class:"pl-4" %>
                      </li>
                      <% if current_user == @team.owner %>
                        <li class="">
                          <div class="pl-4 member_invite">・メンバー招待</div>
                          <div class="member_invite_input">
                            <%= form_with model: :assign, scope: :post, url: team_assigns_path(@team), class:"ml-4", local: true do |form| %>
                            <%= text_field_tag :email, '', :size=>"25" %>
                            <%= submit_tag '招待', id: 'invite_member_submit' %>
                            <p>※Eメールアドレスを入力してください</p>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </nav>
              </div>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-md-8">
      <aside id="sidebar">
        <%= render "sidebar", team: @team %>
      </aside>
    </div>
  </div>
</div>

<script>
  // モーダルウィンドウを開く
  $('.js-modal-open').on('click', function () {
    var target = $(this).data('target');
    var modal = document.getElementById(target);
    scrollPosition = $(window).scrollTop();

    $('body').addClass('fixed').css({
      'top': -scrollPosition
    });
    $(modal).fadeIn();
    return false;
  });

  // モーダルウィンドウを閉じる
  $('.js-modal-close').on('click', function () {
    $('body').removeClass('fixed');
    window.scrollTo(0, scrollPosition);
    $('.js-modal').fadeOut();
    return false;
  });
</script>
