<div class="container">
  <table class="table">
    <tr>
      <th><%= 'チーム名' %>:</th>
      <td><%= @team.name %></td>
    </tr>
    <tr>
      <th><%= '備考' %>:</th>
      <td><%= @team.remark %></td>
    </tr>
    <tr>
      <th><%= '責任者' %>:</th>
      <td><%= link_to "#{@team.owner.name}", user_path(@team.owner.id) %></td>
    </tr>
    <tr>
      <th><%= '担当者' %>:</th>
      <td><%= @team.owner.email %></td>
    </tr>
  </table>

  <%= link_to t('view.edit'), edit_team_path(@team) %>
  <%= link_to t('view.back'), teams_path %>
</div>
