<% comments.each do |comment| %>
<% if comment.user == current_user %>
  <span><%= link_to '', report_comment_path(comment.report_id, comment.id), method: :delete, remote: true, class: "delete-comment", id:"comments-index__comment-#{comment.id}-delete_comment"  %></span>
  <span><%= link_to '', edit_report_comment_path(comment.report_id, comment.id), remote: true, class: "edit-comment", id:"comments-index__comment-#{comment.id}-edit_comment"  %></span>
<% end %>
  <% unless comment.id.nil? %>
  <div>
    <span>
      <strong><%= link_to "#{comment.user.name}さん", user_path(comment.user.id), class: "no-text-decoration black-color" %>
      </strong>
    </span>
    <span id="comment_<%= comment.id %>" >
      <%= comment.comment%>
    </span>
    <span class="post-time" >
      <%= time_ago_in_words(comment.created_at).upcase + "前" %>
    </span>
  </div>
  <% end %>
<% end %>
