<h1>～報告書情報～</h1>
<h2>最新ニュース(※全チーム)</h2>
<div class="row">
  <div class="col-md-6">
    <h3>【新規作成】</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">チーム名</th>
          <th scope="col">担当者</th>
          <th scope="col">作成日</th>
        </tr>
      </thead>

      <tbody>
        <% user.new_create_report.each do |reports| %>
          <tr>
            <td><%= link_to "#{reports.title}", report_path(reports.id) %></td>
            <td><%= link_to "#{reports.team.name}", team_path(reports.team.id) %></td>
            <td><%= link_to "#{reports.user.name}", user_path(reports.user.id) %></td>
            <td><%= reports.created_at.strftime("%Y年 %m月 %d日") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h3>【完了】</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">チーム名</th>
          <th scope="col">担当者</th>
          <th scope="col">完了日</th>
        </tr>
      </thead>

      <tbody>
        <% user.done_report.each do |reports| %>
          <tr>
            <td><%= link_to "#{reports.title}", report_path(reports.id) %></td>
            <td><%= link_to "#{reports.team.name}", team_path(reports.team.id) %></td>
            <td><%= link_to "#{reports.user.name}", user_path(reports.user.id) %></td>
            <td><%= reports.updated_at.strftime("%Y年 %m月 %d日") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h2>ブックマーク情報</h2>
<div class="row">
  <div class="col-md-6">
    <h3>【更新】</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">担当者</th>
          <th scope="col">更新日</th>
        </tr>
      </thead>

      <tbody>
        <% user.bookmark_report_updated.each do |reports| %>
          <tr>
            <td><%= link_to "#{reports.title}", report_path(reports.id) %></td>
            <td><%= link_to "#{reports.user.name}", user_path(reports.user.id) %></td>
            <td><%= reports.updated_at.strftime("%Y年 %m月 %d日") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h3>【完了】</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">担当者</th>
          <th scope="col">完了日</th>
        </tr>
      </thead>

      <tbody>
        <% user.bookmark_report_done.each do |reports| %>
          <tr>
            <td><%= link_to "#{reports.title}", report_path(reports.id) %></td>
            <td><%= link_to "#{reports.user.name}", user_path(reports.user.id) %></td>
            <td><%= reports.updated_at.strftime("%Y年 %m月 %d日") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
