  <div class="panel panel-default">
    <div class="panel-heading float_left">
      ※報告書の責任者になっているもの
    </div>
    <% if @user.author_report.any? == true %>
      <table class="table panel-body">
        <tr>
          <th>タイトル</th>
          <th>チーム名</th>
          <th>責任者</th>
          <th>ステップ</th>
          <th>ステータス</th>
          <th>提出〆切</th>
          <th></th>
        </tr>
        <% @user.author_report.each do |report| %>
          <tr>
            <td><%= link_to "#{report.title}", report_path(report.id) %></td>
            <td><%= link_to "#{report.team.name}", team_path(report.team.id) %></td>
            <td><%= link_to "#{report.team.owner.name}", user_path(report.team.owner.id) %></td>
            <td><%= report.step %></td>
            <td><%= report.status %></td>
            <td><%= report.due.strftime("%Y年 %m月 %d日") %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <strong>該当する報告書はありません</strong>
    <% end %>
  </div>
