<div class="panel panel-default">
  <div class="panel-heading float_left">
    ※報告書の責任者になっているもの
  </div>
  <% if @user.owner_report.any? == true %>
    <table class="table panel-body">
      <thead class="thead-dark">
        <tr>
          <th>タイトル</th>
          <th>チーム名</th>
          <th>担当者</th>
          <th>ステップ</th>
          <th>ステータス</th>
          <th>提出〆切</th>
          <th></th>
        </tr>
      </thead>

      <% @user.owner_report.each do |report| %>
        <tr>
          <td class="user-header"><%= link_to "#{report.title}", report_path(report.id) %></td>
          <td class="user-header"><%= link_to "#{report.team.name}", team_path(report.team.id) %></td>
          <td><%= link_to "#{report.user.name}", user_path(report.user.id) %></td>
          <td><%= report.step %></td>
          <td><%= report.status %></td>
          <% if report.confirmed_date.nil? %>
            <td><%= report.due.strftime("%Y年 %m月 %d日") %></td>
          <% else %>
            <td>未定</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <strong>該当する報告書はありません</strong>
  <% end %>
</div>
