<div class="d-flex align-items-center">
  <h1>編集画面</h1>
</div>

<div class="col-md-4">
<%= form_with(model: @user, local: true) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder:"名前", class: 'form-control' %><br>
    <%= f.email_field :email, placeholder:"メールアドレス", class: 'form-control' %><br>
    <%= f.password_field :password, placeholder:"パスワード", class: 'form-control' %><br>
    <%= f.password_field :password_confirmation, placeholder:"パスワード確認", class: 'form-control' %><br>
    <div class="field">
    <%= f.file_field :icon %>
   </div>
  </div>
  <%= f.submit '登録', value:'登録', class: 'btn btn-primary', id: 'user_edit_submit' %>
</div>
<% end %>
