<div class="container">
  <div class="d-flex margin-top">
    <h1>アカウント編集</h1>
  </div>
  <div class="col-md-4">
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="form-group profile">
      <div class="box-name">
        <%= f.label :name, "名前" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="box-email">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="box-password">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "password", placeholder:"パスワード(6文字以上)" %>
      </div>
      <div class="box-password">
        <%= f.label :password_confirmation, "もう一度パスワードを入力してください" %><br />
        <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "password_confirmation" %>
      </div>
      <div class="image-field text-center">
        <h5>プロフィール画像</h5>
        <% if @user.icon.present? %>
        <%= image_tag @user.icon.url, id: :img_prev, class: "user-show-round-img" %>
        <% else %>
        <%= image_tag "default.png", id: :img_prev %>
        <% end %>
        <%= f.file_field :icon, id: :user_img %>
      </div>
     </div>
    </div>
    <%= f.submit '編集', value:'編集', class: 'btn btn-primary', id: 'user_edit_submit' %>
  </div>
  <% end %>
</div>
