<div class ="container margin-top">
  <div class="d-flex align-items-center">
    <h1>ユーザー一覧</h1>
  </div>

  <%= search_form_for @q, url: users_path do |f| %>
    <%= f.search_field :name_or_email_cont, placeholder:"キーワード.." %>
    <%= f.submit '検索' %>
    <%= link_to 'クリア', @teams_path %>
    <br>
  <% end %>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>登録日時</th>

     </tr>
   </thead>
   <tbody>
     <% @users.each do |user| %>
     <tr>
       <td><%= image_tag user.icon.url, class: "user-index-round-img" %></td>
       <td><%= link_to "#{user.name}", user_path(user.id), id: "user-index_detail-#{user.id}-submit" %></td>
       <td><%= user.email %></td>
       <td><%= user.created_at.strftime("%Y年 %m月 %d日") %></td>
     </tr>
     <% end %>
   </tbody>
  </table>
</div>
