<div class="container">
  <div class="col-md-4 text-center float_right profile-wrap">
    <p>プロフィール画像</p>
    <%= image_tag @user.icon.url, class: "round-img" %>
  </div>
  <div class="profile-wrap">
    <h3><u>プロフィール</u></h3>
    <div class="row">
      <div class="col-md-8 profile_date">
        <div class="row">
          <h4><%= @user.name %></h4>
        </div>
        <div class="row">
          <h4><%= @user.email %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-wrap">
    <h3><u>所属チーム</u></h3>
    <div class="row">
      <div class="col-md-8 profile_date">
        <div class="row">
          <table>
            <% @user.assigns.each do |assign| %>
              <tr>
                <td><%= link_to "#{assign.team.name}", team_path(assign.team.id) %></td>
                <td><%= link_to '編集', edit_report_path(assign.team.id), class: 'btn btn-success mr-3', id: "user_show_edit-#{assign.team.id}-submit" if current_user == assign.team.owner %></td>
                <td><%= link_to '解散', report_path(assign.team.id), method: :delete, data: { confirm: "チーム「#{assign.team.name}を削除します。よろしいでしょうか？」" },
                      class: 'btn btn-danger mr-3', id: "user_show_delete-#{assign.team.id}-submit" if current_user == assign.team.owner %></td>
                <td><%= link_to '離脱', team_assign_path(assign.team, assign.id), method: :delete, data: { confirm: "チーム「#{assign.team.name}を離脱します。よろしいでしょうか？」" },
                      class: 'btn btn-info mr-3', id: "user_show_dropout-#{assign.team.id}-submit" if current_user == assign.user && current_user != assign.team.owner %></td>
              </tr>
             <% end %>
           </table>
        </div>
      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
      期限切れ or 期限直前(3日以内)タスク一覧
    </div>
    <table class="table panel-body">
      <% if @expired_reports.any? == true %>
        <tr>
          <th>タイトル</th>
          <th>チーム名</th>
          <th>責任者</th>
          <th>ステップ</th>
          <th>提出〆切</th>
          <th></th>
        </tr>
        <% @expired_reports.each do |report| %>
          <tr>
            <td><%= link_to "#{report.title}", report_path(report.id) %></td>
            <td><%= link_to "#{report.team.name}", team_path(report.team.id) %></td>
            <td><%= link_to "#{report.team.owner.name}", user_path(report.team.owner.id) %></td>
            <td><%= report.step %></td>
            <td><%= report.due.strftime("%Y年 %m月 %d日") %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
</div>
