<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0 bg-dark sidebar-height">
      <div class="side-title d-flex align-items-center pl-2">
        <ul class="navbar-nav side-menu">
          <span class="border-bottom mb-2">ユーザー名</span>
          <h5 class="mb-1"><%= @user.name %></h5>
        </ul>
      </div>
      <div class="side-nav" id="nav-bar">
        <nav id="n">
          <ul class="navbar-nav">
            <li class="border-top">
              <a href="" class="js-modal-open mt-1 pl-4" data-target="modal0">・ユーザープロフィール</a>
              <div id="modal0" class="modal js-modal">
                <div class="modal-bg js-modal-close"></div>
                <div class="modal-content">
                  <%= render 'user_profile', user: @user %>
                  <a href="#" class="js-modal-close">閉じる</a>
                </div>
              </div>
            </li>
          </ul>

          <div class="pl-4 report-index">
            報告書一覧
          </div>
          <ol class="navbar-nav report-item">
            <ul class="pl-4" id="accordion_menu">
              <li>
                <a data-toggle="collapse" href="#menu01" aria-controls="#menu01" aria-expanded="false">担当</a>
              </li>
              <ul id="menu01" class="collapse" data-parent="#accordion_menu">
                <li>
                  <a href="" class="js-modal-open mt-1" data-target="modal01">・〆切間近</a>
                  <div id="modal01" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'user_show_expired', expired_reports: @expired_reports %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="" class="js-modal-open mt-1" data-target="modal02">・作成中</a>
                  <div id="modal02" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'user_show_author', user: @user %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="" class="js-modal-open mt-1" data-target="modal03">・依頼中</a>
                  <div id="modal03" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'user_show_request', user: @user %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="" class="js-modal-open mt-1" data-target="modal04">・完了</a>
                  <div id="modal04" class="modal js-modal">
                    <div class="modal-bg js-modal-close"></div>
                    <div class="modal-content">
                      <%= render 'user_show_done', user: @user %>
                      <a href="#" class="js-modal-close">閉じる</a>
                    </div>
                  </div>
                </li>
              </ul>
              <li>
                <a data-toggle="collapse" href="#menu02" aria-controls="#menu02" aria-expanded="false">責任</a>
              </li>
              <ul id="menu02" class="collapse" data-parent="#accordion_menu">
                <li>
                  <a href="#">・〆切間近</a>
                </li>
                <li>
                  <a href="#">・作成中</a>
                </li>
                <li>
                  <a href="#">・依頼中</a>
                </li>
                <li>
                  <a href="#">・完了</a>
                </li>
              </ul>
          </ul>
          <ul class="navbar-nav">
            <li class="">
              <a href="" class="js-modal-open mt-1 pl-4" data-target="modal05">・ブックマーク</a>
              <div id="modal05" class="modal js-modal">
                <div class="modal-bg js-modal-close"></div>
                <div class="modal-content">
                  <%= render 'user_show_bookmark', user: @user %>
                  <a href="#" class="js-modal-close">閉じる</a>
                </div>
              </div>
            </li>
          </ul>

          <div class="side-nav border-top" id="nav-bar">
            <nav id="n">
              <ul class="navbar-nav">
                <li class="">
                  <%= link_to '・カレンダー', calendar_user_path(@user), id: "show-calendar-submit", class:"pl-4" %>
                </li>
                <ul class="pl-3" id="accordion_menu">
                  <li>
                    <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">・所属チーム</a>
                  </li>
                  <ul id="menu03" class="collapse" data-parent="#accordion_menu">
                    <li>
                      <% if @user.assigns.any? == false %>
                        <strong style="color:red;">所属チームはありません</strong>
                      <% else %>
                        <% @user.assigns.each do |assign| %>
                          <%= link_to "#{assign.team.name}", team_path(assign.team.id) %>
                        <% end %>
                      <% end %>
                    </li>
                  </ul>
                </nav>
              </div>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-md-8">
      <aside id="sidebar">
        <%= render "sidebar", user: @user %>
      </aside>
    </div>
  </div>
</div>

<script>
  // モーダルウィンドウを開く
  $('.js-modal-open').on('click', function () {
    var target = $(this).data('target');
    var modal = document.getElementById(target);
    scrollPosition = $(window).scrollTop();

    $('body').addClass('fixed').css({
      'top': -scrollPosition
    });
    $(modal).fadeIn();
    return false;
  });

  // モーダルウィンドウを閉じる
  $('.js-modal-close').on('click', function () {
    $('body').removeClass('fixed');
    window.scrollTo(0, scrollPosition);
    $('.js-modal').fadeOut();
    return false;
  });
</script>
