<div class="container">
  <div class="col-md-4 text-center float_right profile-wrap">
    <p>プロフィール画像</p>
    <%= image_tag @user.icon.url, class: "round-img" %>
  </div>
  <div class="profile-wrap">
    <h3><u>プロフィール</u></h3>
    <div class="row">
      <div class="col-md-8 profile_date">
        <div class="row">
          <h4><%= @user.name %></h4>
        </div>
        <div class="row">
          <h4><%= @user.email %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-wrap">
    <h3><u>所属チーム</u></h3>
    <div class="row">
      <div class="col-md-8 profile_date">
        <div class="row">
          <table>
            <% @user.assigns.each do |assign| %>
              <tr>
                <td><%= link_to "#{assign.team.name}", team_path(assign.team.id) %></td>
                <td><%= link_to '編集', edit_team_path(assign.team.id), class: 'btn btn-success mr-3', id: "user_show_edit-#{assign.team.id}-submit" if current_user == assign.team.owner %></td>
                <td><%= link_to '解散', report_path(assign.team.id), method: :delete, data: { confirm: "チーム「#{assign.team.name}を削除します。よろしいでしょうか？」" },
                      class: 'btn btn-danger mr-3', id: "user_show_delete-#{assign.team.id}-submit" if current_user == assign.team.owner %></td>
                <td><%= link_to '離脱', team_assign_path(assign.team, assign.id), method: :delete, data: { confirm: "チーム「#{assign.team.name}を離脱します。よろしいでしょうか？」" },
                      class: 'btn btn-info mr-3', id: "user_show_dropout-#{assign.team.id}-submit" if current_user == assign.user && current_user != assign.team.owner %></td>
              </tr>
             <% end %>
           </table>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-wrap">
    <h3><u>報告書一覧</u></h3>
      <div class="col-md-8 profile_date">
        <div class="row">
          <main class="p-3">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a href="#content1" class="nav-link active" data-toggle="tab">〆切間近</a>
              </li>
              <li class="nav-item">
                <a href="#content2" class="nav-link" data-toggle="tab">責任</a>
              </li>
              <li class="nav-item">
                <a href="#content3" class="nav-link" data-toggle="tab">担当</a>
              </li>
              <li class="nav-item">
                <a href="#content4" class="nav-link" data-toggle="tab">ブックマーク</a>
              </li>
            </ul>
          <div class="tab-content">
            <div id="content1" class="tab-pane active">
              <%= render 'user_show_expired', expired_reports: @expired_reports %>
            </div>
            <div id="content2" class="tab-pane">
              <%= render 'user_show_owner', user: @user %>  
            </div>

            <div id="content3" class="tab-pane">
              <img src="images/content3.jpg" class="img-fluid" alt=""/>
            </div>
            <div id="content4" class="tab-pane">
              <img src="images/content4.jpg" class="img-fluid" alt=""/>
            </div>
          </div>
          </main>
        </div>
      </div>
    </div>





</div>
