<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="#">(仮)</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown">
    <% if user_signed_in? %>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.name %>さん</a>
    <% else %>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    こんにちは、ログイン</a>
    <% end %>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
        <%= link_to 'マイページ', user_path(current_user.id), class: 'dropdown-item' %>
        <%= link_to "お気に入り", "", class: 'dropdown-item' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item', id:'header_nav_submit' %>
      <% else %>
        <%= link_to '登録', new_user_registration_path, class: 'dropdown-item' %>
        <%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item' %>
      <% end %>
    </div>
  </li>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-md-auto align-items-center">
      <li>
        <%= link_to "投稿", "", class: "btn btn-primary" %>
      </li>
      <li>
        <%= link_to "投稿一覧", "", class: "btn btn-primary" %>
      </li>
      <li>
        <%= link_to "ユーザー一覧", users_path, class: "btn btn-primary" %>
      </li>
      <li>
        <%= link_to "チーム一覧", teams_path, class: "btn btn-primary" %>
      </li>
    </ul>
  </div>
</div>
</nav>
