<td><%= link_to "#{report.title}", report_path(report.id) %></td>
<td><%= report.user.name %></td>
<td><%= report.created_at.strftime("%Y年 %m月 %d日") %></td>
<td>
  <% report.tag_list.each do |tag| %>
    <% if report.checkbox_final == false %>
      <%= link_to "#{tag}", reports_path(tag_name: tag), class:"btn btn-warning" %>
    <% else%>
      <%= link_to "#{tag}", archive_reports_path(tag_name: tag), class:"btn btn-warning" %>
    <% end %>
  <% end %>
</td>
