<div class="d-flex align-items-center">
  <h1>報告書一覧</h1>
</div>

<%= search_form_for @q, url: reports_path do |f| %>
  <%= f.select :search_item, options_for_select(Report.search_items) %>
  <%= f.search_field :title_cont, placeholder:"タイトル名.." %>
  <%= f.search_field :team_name_cont, placeholder:"チーム名.." %>
  <%= f.search_field :team_owner_name_cont, placeholder:"責任者.." %>
  <%= f.search_field :author_cont, placeholder:"担当者.." %>
  <%= f.submit '検索' %>
  <%= link_to 'クリア', @repotrs_path %>
  <br>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>タイトル</th>
      <th>チーム名</th>
      <th>責任者</th>
      <th>担当者</th>
      <th>ステータス</th>
      <th><%= sort_link(@q, :deadline_date, '提出〆切', default_order: :asc)%></th>
      <th>作成日</th>
      <th>ラベル</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
 </thead>
 <tbody>
   <% @results.each do |report| %>
     <tr>
       <td><%= link_to "#{report.title}", report_path(report.id) %></td>
       <td><%= link_to "#{report.team.name}", team_path(report.team.id) %></td>
       <td><%= link_to "#{report.team.owner.name}", user_path(report.team.owner.id) %></td>
       <td><%= link_to "#{report.author}", user_path(report.user.id) %></td>
       <% if report.checkbox_final %>
          <td>完了</td>
       <% elsif report.checkbox_interim %>
          <td>有効性の確認中</td>
       <% elsif report.checkbox_first %>
          <td>中間報告の作成中</td>
       <% else %>
          <td>第一報告の作成中</td>
       <% end %>
       <td><%= report.deadline_date.strftime("%Y年 %m月 %d日") %></td>
       <td><%= report.created_date.strftime("%Y年 %m月 %d日")%></td>
       <td></td>
       <td><%= link_to '詳細', report_path(report.id), class: 'btn btn-primary mr-3', id: "report-index_detail-#{report.id}-submit" %></td>
       <td><%= link_to '編集', edit_report_path(report.id), class: 'btn btn-success mr-3', id: "report_index_edit-#{report.id}-submit" if current_user == report.team.owner || current_user == report.user %></td>
       <td><%= link_to '削除', report_path(report.id), method: :delete, data: { confirm: "ユーザー「#{report.title}を削除します。よろしいでしょうか？」" },
             class: 'btn btn-danger mr-3', id: "report_index_delete-#{report.id}-submit" if current_user == report.team.owner %></td>
     </tr>
   <% end %>
 </tbody>
</table>
