<div class="d-flex align-items-center">
  <h1>報告書一覧</h1>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>タイトル</th>
      <th>チーム名</th>
      <th>責任者</th>
      <th>担当者</th>
      <th>ステータス</th>
      <th>提出〆切</th>
      <th>ラベル</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
 </thead>
 <tbody>
   <% @reports.each do |report| %>
     <tr>
       <td><%= link_to "#{report.title}", report_path(report.id) %></td>
       <td><%= link_to "#{report.team.name}", team_path(report.team.id) %></td>
       <td><%= link_to "#{report.team.owner.name}", user_path(report.team.owner.id) %></td>
       <td><%= link_to "#{report.author}", user_path(report.user.id) %></td>
       <% if report.checkbox_final %>
          <td>完了</td>
       <% elsif report.checkbox_interim %>
          <td>有効性の確認中</td>
       <% elsif report.checkbox_first %>
          <td>中間報告の作成中</td>
       <% else %>
          <td>第一報告の作成中</td>
       <% end %>
       <% if report.checkbox_final %>
          <td>--------------------</td>
       <% elsif report.checkbox_interim %>
          <td><%= (report.confirmed_date).strftime("%Y年 %m月 %d日") %></td>
       <% elsif report.checkbox_first %>
          <td><%= (report.accrual_date+ 14.day).strftime("%Y年 %m月 %d日") %></td>
       <% else %>
          <td><%= (report.accrual_date+ 7.day).strftime("%Y年 %m月 %d日") %></td>
       <% end %>
       <td></td>
       <td><%= link_to '詳細', report_path(report.id), class: 'btn btn-primary mr-3', id: "report-index_detail-#{report.id}-submit" %></td>
       <td><%= link_to '編集', edit_report_path(report.id), class: 'btn btn-success mr-3', id: "report_index_edit-#{report.id}-submit" if current_user == report.team.owner || current_user == report.user %></td>
       <td><%= link_to '削除', report_path(report.id), method: :delete, data: { confirm: "ユーザー「#{report.title}を削除します。よろしいでしょうか？」" },
             class: 'btn btn-danger mr-3', id: "report_index_delete-#{report.id}-submit" if current_user == report.team.owner %></td>
     </tr>
   <% end %>
 </tbody>
</table>
