<div class="d-flex align-items-center">
  <h1>報告書一覧</h1>
</div>

<%= search_form_for @q, url: reports_path do |f| %>
  <%= f.select :search_item, options_for_select(Report.search_items) %>
  <%= f.search_field :title_cont, placeholder:"タイトル名.." %>
  <%= f.search_field :team_name_cont, placeholder:"チーム名.." %>
  <%= f.search_field :team_owner_name_cont, placeholder:"責任者.." %>
  <%= f.search_field :author_cont, placeholder:"担当者.." %>
  <%= f.submit '検索' %>
  <%= link_to 'クリア', @repotrs_path %>
  <br>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>チーム名</th>
      <th>責任者</th>
      <th>担当者</th>
      <th>ステータス</th>
      <th><%= sort_link(@q, :deadline_date, '提出〆切', default_order: :asc)%></th>
      <th>作成日</th>
      <th>ラベル</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
 </thead>
 <tbody>
   <% @results.each do |report| %>
     <tr id="report_index_<%= report.id %>">
       <%= render 'report', report: report %>
     </tr>
   <% end %>
 </tbody>
</table>
