<!DOCTYPE html>
<html>
  <head>
    <title>ReportShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <% unless current_page?(unauthenticated_root_path) || current_page?(new_user_registration_path) || current_page?(user_session_path) %>
          <%= render 'header' %>
        <% end %>
      </header>
      <main>
        <div class="col-md-4 mt-3">
          <% if flash[:notice] %>
            <p class="alert alert-primary"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:success] %>
            <p class="alert alert-success"><%= flash[:success] %></p>
          <% end %>
          <% if flash[:danger] %>
            <p class="alert alert-danger"><%= flash[:danger] %></p>
          <% end %>
         </div>
         <%= yield %>
       </main>
       <!-- <footer>
         render "footer"
       </footer> -->
    </div>
  </body>
</html>
