<!DOCTYPE html>
<html>
  <head>
    <title>ReportShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d564899de7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%= render 'header' %>
      </header>
      <main>
         <%= yield %>
       </main>
       <!-- <footer>
         <%= render 'footer' %>
       </footer> -->
    </div>
  </body>
</html>
